<h1>Query by tags</h1>
 <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ng-multiselect-dropdown
        name="tags"
        [placeholder]="'Select Tags'"
        [settings]="dropdownSettings"
        [data]="tags"
        formControlName="tags"
        [disabled]="disabled"
        (onSelect)="onItemSelect($event)">
    </ng-multiselect-dropdown>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div *ngFor="let data of responseURL.links">
    <p>{{data}}</p>
</div>
